
/*
drag-me is the id for the draggable object
This is the starting style for the diver object, it
will be change in the function.js depending on the status
of dive
*/
.dive {
  width: 100px;
  height:100px;
  background-color:#339933; 

  background-image: url("animated-diver-2.gif");

  color: white;
  border-radius: 10em;
  float: left;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}


#time_depth{
  background-color: black;
  position: relative;
  left: 100px;
  width: 100px;  
}


.container {
   	width: 1000px;
    height: 520px;	
    background-color: #336699;
    float: left; 
  }

#main {
  width: 1000px;
  position: relative;
  top:100px;
  overflow: auto;
  background-color: #336699;
  padding-left: 50px;
  padding-right: 150px;
  margin-left: 140px;
}

#SI {
  float:left;
  width: 250px;
}

button {
  position: fixed;
  left: 1000px;
}

body {

}
