
/*
drag-me is the id for the draggable object
This is the starting style for the diver object, it
will be change in the function.js depending on the status
of dive
*/

.dive {
  width: 100px;
  height:100px;
  background-color:#339933; 

  background-image: url("animated-diver-2.gif");
  position: absolute;
  color: white;
  border-radius: 10em;
  z-index: 1;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}


#time_depth{
  width: 110px;
  height: 80px;
  top: 10px;
  background-color: black;
  position: relative;
  left: 120px;
  text-align: left; 
  font-family: Arial, Helvetica, sans-serif; 
  -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
   text-align: center;
   font-size: 120%;
   font-weight: bolder;
   display: inline-block;
   
}

#time_depth:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 35%;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 10px solid black;
   border-bottom: 13px solid transparent;
}


.container {
   	width: 1000px;
    height: 520px;	
    background-color: #336699;
    float: left; 
    overflow: visible;
    top: 100px;
  }

#main {
  width: 1000px;
  position: relative;
  top:100px;
  overflow: visible;
  background-color: #336699;
  padding-left: 150px;
  
  top:100px;
}

.SI {
  float:left;
  width: 510px;
  background-color: #336699;
  text-decoration: underline;
  height: 520px;
}

.SI:hover {
  cursor: pointer;
}

#confirm {
  float:center;
  position: inherit;
}

.surface_interval {
  width: 50px;
  float: center;
}

#add {
  position: fixed;
  margin-left: 1300px;
}

#delete {
   position: fixed;
   margin-left: 1390px;
}

.depth_time_txt:before {
  content: "Time = 0 Depth = 0"; 
}

.depth_time_txt.no-before:before {
  content: none;
}